.home {
    background-image: url('../../assets/images/enviornment.png') !important;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    height: 100vh; /* Set the height of the component to match the viewport */
    // display: flex;
    // flex-direction: column;
  }