.card{
    margin: 10px;
}

.cardcontainer{
    max-height: 300px;
    overflow: 100px;
}
.custom-card{
    background-color: aqua;
}
 img {
    width: 500px; 
    height: 300px; 
    margin-right: 8px; 
  }